body{
  margin:0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background:#f6f1e7;
}

.top{
  background:#ffd84d;
  padding:12px;
  font-weight:700;
  text-align:center;
  font-size:14px;
}

.card{
  background:#fff;
  margin:12px;
  padding:15px;
  border-radius:16px;
  box-shadow:0 4px 10px rgba(0,0,0,.06);
}

.header{
  display:flex;
  gap:12px;
  align-items:center;
}

.header img{
  width:60px;
  height:60px;
  border-radius:12px;
}

input, textarea{
  width:100%;
  padding:12px;
  margin-top:8px;
  border-radius:10px;
  border:1px solid #ddd;
  font-size:15px;
}

.section{
  padding-left:12px;
  margin-top:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
  padding:12px;
}

/* ADMIN PANEL */
.admin{
  border:2px dashed #ffb703;
}

.admin button{
  margin-top:12px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:20px;
  background:#0ca03a;
  color:#fff;
  font-size:16px;
}

/* CART BAR */
.cart-bar{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:#111;
  color:#fff;
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cart-bar button{
  background:#0ca03a;
  border:none;
  color:#fff;
  padding:8px 14px;
  border-radius:20px;
}
